
body {
    background-image: url("so-white.png");
    background-color: #ffffff;
    
}

header {
        background-color: #ffffff; 
        border-bottom: 2px solid #ccc;
        height: 68.81px;
        width: 100%;
        
}

.headingBox {
        background-color: #4aaaa5;
        border-color: #ccc;
        color: #ffffff;
        width: 221px;
        text-align: center;
        padding: 22px;
        margin: 0 17%;
        font-size: 25px;
        
}

.links-set {
            position: relative;
            bottom: 55%;
            right: 10%;
            left: 69%;
            
}


a {
    color: #777777;
    font-size: 16px;
    padding: 8px;
    text-decoration: none;
    background-color: #ffffff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

 
h1, 
h2 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    
}

.mcHeaderBox {
    color: #4aaaa5;
    border-color: #ccc;
    background-color: #ffffff;
    border-bottom: 2px solid #ccc;
    font-size: 23px;
    padding: 0px 0px 20px 2px;

}


.mainContent {
    
    background-color: #ffffff;
    border: 1px solid #dddddd;
    /*I think the links border AND color are #ddddd*/
    width: 930px;
    height: 500px;
    margin: 0 auto;
    margin-top: 35px;
    padding: 30px;
    
}

.aboutMePic {
    width: 200px;
    padding: 25px 20px 20px 0px;
    float: left;
    
}

p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    padding: 25px 25px 25px 0px;
    line-height: 2em;
}

footer {
    clear: both;
    overflow: auto;
    background-color: #666666;
    margin: 25px 0px;
    text-align: center;
    padding: 6px 0px 0px 0px;
    position: fixed;
    height: 50px;
    border-top: 5px solid #4aaaa5;
    width: 100%;
    top: 92%;
    color: #ffffff;
    font-size: 10px;
    
}

.portContent {
    width: 690px;
}

.proj {
    width: 140px;
    position: relative;
    z-index: 1;
    
}

.hangman {
    padding: 20px 0px;
    
    
}

.figHang {
    bottom: 64%
    


}

.rpg {
    bottom: 127px;
    left: 24%;
    
}

.figRpg {
    bottom: 64%;
    left: 583px;
    
}
.trivia {
    bottom: 96px;


}

.figTriv {
    bottom: 395px;

}

.rutgers {
    left: 24%;
    bottom: 204px;
}

.figRut {
    bottom: 394px;
    left: 583px;


}

.rockps {
    bottom: 174px;

}

.figRock {
    bottom: 259px;
}

figcaption {
    
    background-color:#4aaaa5;
    color: #ffffff;
    font-family: Georgia, Times, "Times New Roman", serif;
    width: 118px;
    font-size: 13px;
    text-align: center;
    padding: 11px;
    position: absolute;
    z-index: 2;

    

    

}



